* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../photos/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    background-image: url('../photos/bg2.jpg'); 
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

#fileUploadForm, #queryForm {
    margin: 25px 0;
}

input[type="file"], #promptInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#preview {
    margin-top: 20px;
    overflow-x: auto;
}

.hidden {
    display: none;
}

#loading {
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

#resultContainer .result {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
